@page
@model InfocommSolutionsProject.Areas.Identity.Pages.Account.Manage.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Adding payment</h1>

<p>
    <a asp-page="PaymentCreate">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PaymentModel[0].CardNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentModel[0].DateOfExpiry)
            </th>
            <th>
              
             @Html.DisplayNameFor(model => model.PaymentModel[0].SecurityCode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.PaymentModel) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CardNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfExpiry)
            </td>
            <td>
                 @{
                     string sqcode = item.SecurityCode.ToString("***");
                            }
                 @Html.DisplayFor(modelItem => sqcode)
             
            </td>
            <td>
                <a asp-page="./PaymentEdit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./PaymentDetails" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./PaymentDelete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
