@page
@model InfocommSolutionsProject.Areas.Identity.Pages.Account.Manage.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Payment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentModel.CardNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PaymentModel.CardNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentModel.DateOfExpiry)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PaymentModel.DateOfExpiry)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentModel.SecurityCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PaymentModel.SecurityCode)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./PaymentEdit" asp-route-id="@Model.PaymentModel?.Id">Edit</a> |
    <a asp-page="./PaymentIndex">Back to List</a>
</div>
