@page
@model InfocommSolutionsProject.Pages.AdminPages.ViewAllProductRatingsModel
@using Microsoft.AspNetCore.Http;
@{
}

    <h1>View All Product Ratings</h1>



<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Search Ratings by Description:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-page="./ViewAllProductRatings">Back to full List</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./ViewAllProductRatings" asp-route-sortOrder="@Model.AccountsSort">@Html.DisplayNameFor(model => model.AllRatings[0].Accounts)</a>
                
            </th>
            <th>
                <a asp-page="./ViewAllProductRatings" asp-route-sortOrder="@Model.ProductSort">@Html.DisplayNameFor(model => model.AllRatings[0].Product)</a>
                
            </th>
            <th>
                <a asp-page="./ViewAllProductRatings" asp-route-sortOrder="@Model.RatingSort">@Html.DisplayNameFor(model => model.AllRatings[0].rating)</a>
                
            </th>
            <th>
                <a asp-page="./ViewAllProductRatings" asp-route-sortOrder="@Model.DescriptionSort">@Html.DisplayNameFor(model => model.AllRatings[0].Description)</a>
                
            </th>
            <th>
                <a asp-page="./ViewAllProductRatings" asp-route-sortOrder="@Model.Created_OnSort">@Html.DisplayNameFor(model => model.AllRatings[0].CreatedOn)</a>
                
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AllRatings) {
    
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Accounts.Email)
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.rating)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>
            <td>
                
               
               @* <a asp-page="./Delete" asp-route-id="">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
@{
    var prevDisabled = !Model.AllRatings.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.AllRatings.HasNextPage ? "disabled" : "";

}
 @*this one is the droplist when user choose any option it will redict to that pages base on the option value  *@
<form method="get" >
            <div class="col-3 pr-0">
               <label >Items per page</label> 
               <select onchange="location=this.value">
            @{

                            string returnUrl = null;
                            returnUrl ??= Url.Content("~/");
                            var v1 = @returnUrl + "AdminPages/ViewAllProductRatings?NumPage=five";
                            var v2 = @returnUrl + "AdminPages/ViewAllProductRatings?NumPage=ten";
                            var v3 = @returnUrl + "AdminPages/ViewAllProductRatings?NumPage=fivete";
                            var v4 = @returnUrl + "AdminPages/ViewAllProductRatings?NumPage=hun";

                if (Convert.ToInt32(@HttpContext.Session.GetString("_userset")) == 5)
                {
                        <option value=@v1>5</option >
                        <option value=@v2>10</option>
                        <option value=@v3>50</option>
                        <option value=@v4>100</option>
                }
                else if (Convert.ToInt32(@HttpContext.Session.GetString("_userset")) == 10)
                {
                        <option >10</option>
                        <option value=@v1>5</option >
                        <option value=@v3>50</option>
                        <option value=@v4>100</option>
                }
                else if (Convert.ToInt32(@HttpContext.Session.GetString("_userset")) == 50)
                {
                        <option value=@v3>50</option>
                        <option value=@v1>5</option >
                        <option value=@v2>10</option>
                        <option value=@v4>100</option>
                }
                else if (Convert.ToInt32(@HttpContext.Session.GetString("_userset")) == 100)
                {
                        <option value=@v4>100</option>
                        <option value=@v1>5</option >
                        <option value=@v2>10</option>
                        <option value=@v3>50</option>
                }
                else
                {
                    //@HttpContext.Session.GetString("_Name")
                        <option >Default : 10</option>
                        <option value=@v1>5</option >
                        <option value=@v2>10</option>
                        <option value=@v3>50</option>
                        <option value=@v4>100</option>
                }
            }
               </select>
            </div> 
</form>
<div class="pb-3">
  <div class="pb-3">
      <div class="pb-3">
    <a asp-page="./ViewAllProductRatings" asp-route-pageIndex="@(Model.AllRatings.PageIndex - 1)" asp-route-currentFilter="@(Model.CurrentFilter)" class="btn btn-primary @prevDisabled">
    Previous    
    </a>
    <a asp-page="./ViewAllProductRatings" asp-route-pageIndex="@(Model.AllRatings.PageIndex + 1)" asp-route-currentFilter="@(Model.CurrentFilter)" class="btn btn-primary @nextDisabled">
    Next    
    </a>
     </div>
  </div>
</div>

