@using Microsoft.AspNetCore.Identity
@using InfocommSolutionsProject.Areas.Identity.Data
@using InfocommSolutionsProject.Models;
@inject SignInManager<Accounts> SignInManager
@inject UserManager<Accounts> UserManager
<style type="text/css">
<!--
a.gflag {vertical-align:middle;font-size:16px;padding:1px 0;background-repeat:no-repeat;background-image:url(//gtranslate.net/flags/16.png);}
a.gflag img {border:0;}
a.gflag:hover {background-image:url(//gtranslate.net/flags/16a.png);}
#goog-gt-tt {display:none !important;}
.goog-te-banner-frame {display:none !important;}
.goog-te-menu-value:hover {text-decoration:none !important;}
body {top:0 !important;}
#google_translate_element2 {display:none!important;}
-->
</style>

<ul class="navbar-nav">
	@if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
	{

		 System.Diagnostics.Debug.WriteLine($"{User} 13123211321313");
		
		<div class="sidebar-header d-flex align-items-center p-4"><img class="avatar shadow-0 img-fluid rounded-circle" src="img/avatar-6.jpg" alt="...">
          <div class="ms-3 title">
            <h1 class="h5 mb-1"></h1>
            <p class="text-sm text-gray-700 mb-0 lh-1" >@UserManager.GetUserName(User)</p>
          </div>
        </div>
        <span class="text-uppercase text-gray-600 text-xs mx-3 px-2 heading mb-2">Settings</span>
        <li class="sidebar-item "><a class="sidebar-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Settings"> 
                      @*<svg class="svg-icon svg-icon-sm svg-icon-heavy">
                        <use xlink:href="#setting-1"> </use>
                      </svg>*@<i class="fa-solid fa-gear"></i> <span > Settings </span>
                      
                  </a>
                      
        </li>
        <span class="text-uppercase text-gray-600 text-xs mx-3 px-2 heading mb-2">Main</span>
        <ul class="list-unstyled" id="hreflist">
              <li class="sidebar-item"><a class="sidebar-link" asp-page="/AdminHomePage"> 

                      <svg class="svg-icon svg-icon-sm svg-icon-heavy">
                        <use xlink:href="#real-estate-1"> </use>
                      </svg><span >Home </span></a>
              </li>
              <li class="sidebar-item">
                  <a class="sidebar-link" asp-page="/IOTDashboard"> 
                  <i class="fa-solid fa-microchip"></i><span>&nbsp; &nbsp; &nbsp;IOT Dashboard</span></a>
              </li>
              <li class="sidebar-item"><a class="sidebar-link" asp-page="/Table"> 
                      <svg class="svg-icon svg-icon-sm svg-icon-heavy">
                        <use xlink:href="#portfolio-grid-1"> </use>
                      </svg><span>Tables </span></a></li>
              <li class="sidebar-item"><a class="sidebar-link"  asp-page="/Dashboard"> 
                      <svg class="svg-icon svg-icon-sm svg-icon-heavy">
                        <use xlink:href="#sales-up-1"> </use>
                      </svg><span>Charts </span></a></li>
              <li class="sidebar-item"><a class="sidebar-link"  asp-page="/Forms"> 
                      <svg class="svg-icon svg-icon-sm svg-icon-heavy">
                        <use xlink:href="#survey-1"> </use>
                      </svg><span>Forms </span></a></li>
              <li class="sidebar-item"><a class="sidebar-link" href="#exampledropdownDropdown" data-bs-toggle="collapse"> 
                      <svg class="svg-icon svg-icon-sm svg-icon-heavy">
                        <use xlink:href="#browser-window-1"> </use>
                      </svg><span>Manage Admin Items</span></a>
                <ul class="collapse list-unstyled " id="exampledropdownDropdown">
                  <li><a class="sidebar-link" asp-page="/User_Management/Index">User Management </a></li>    
                  <li><a class="sidebar-link" asp-page="/Product/Index">Product</a></li>
                  <li><a class="sidebar-link" asp-page="/Category/Index">Category</a></li>
                  <li><a class="sidebar-link" asp-page="/Supplier/Index">Supplier</a></li>
                  <li><a class="sidebar-link" asp-page="/SupplierOrders/Index">SupplierOrders</a></li>               
                </ul>
              </li>
             @* <li class="sidebar-item"><a class="sidebar-link" href="login.html"> 
                      <svg class="svg-icon svg-icon-sm svg-icon-heavy">
                        <use xlink:href="#disable-1"> </use>
                      </svg><span>Login page </span></a></li>*@
        </ul><span class="text-uppercase text-gray-600 text-xs mx-3 px-2 heading mb-2">Extras</span>
        <ul class="list-unstyled">
              <li class="sidebar-item"><a class="sidebar-link" href="#"> 
                      <svg class="svg-icon svg-icon-sm svg-icon-heavy">
                        <use xlink:href="#imac-screen-1"> </use>
                      </svg><span>Demo </span></a></li>
              <li class="sidebar-item"><a class="sidebar-link" href="#"> 
                      <svg class="svg-icon svg-icon-sm svg-icon-heavy">
                        <use xlink:href="#chart-1"> </use>
                      </svg><span>Demo </span></a></li>
              <li class="sidebar-item"><a class="sidebar-link" href="#"> 
                      <svg class="svg-icon svg-icon-sm svg-icon-heavy">
                        <use xlink:href="#quality-1"> </use>
                      </svg><span>Demo </span></a></li>
              <li class="sidebar-item"><a class="sidebar-link" href="#"> 
                      <svg class="svg-icon svg-icon-sm svg-icon-heavy">
                        <use xlink:href="#security-shield-1"> </use>
                      </svg><span>Demo </span></a></li>
        </ul>

@*
		@if ((User.IsInRole(InfocommSolutionsProject.Models.Roles.Admin )) || (User.IsInRole(InfocommSolutionsProject.Models.Roles.SGAE_STAFF)))
		{
			<li class="nav-item">
			<a class="nav-link text-dark" asp-area="" asp-page="/Supplier/Index">Supplier</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-dark" asp-area="" asp-page="/SupplierOrders/Index">Supply Orders</a>
		</li>
		}
		
		<li class="nav-item">
			<a class="nav-link text-dark" asp-area="" asp-page="/Dashboard">Dashboard</a>
		</li>
		*@

    }
    else if (SignInManager.IsSignedIn(User) && User.IsInRole("Customer")) {
       /* <li class="nav-item">
			<a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
		</li>
		<li class="nav-item">
			<form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
				<button id="logout" type="submit" class="nav-link btn btn-link text-dark">Logout</button>
			</form>
		</li>
		<li class="nav-item">
			<a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-dark" asp-area="" asp-page="/Product/Index">Products</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-dark" asp-area="" asp-page="/Location">Location</a>
		</li>
		<li class="nav-item">
			  <!-- GTranslate: https://gtranslate.io/ -->
			
			<br /><select onchange="doGTranslate(this);"><option value="">Select Language</option><option value="en|af">Afrikaans</option><option value="en|sq">Albanian</option><option value="en|ar">Arabic</option><option value="en|hy">Armenian</option><option value="en|az">Azerbaijani</option><option value="en|eu">Basque</option><option value="en|be">Belarusian</option><option value="en|bg">Bulgarian</option><option value="en|ca">Catalan</option><option value="en|zh-CN">Chinese (Simplified)</option><option value="en|zh-TW">Chinese (Traditional)</option><option value="en|hr">Croatian</option><option value="en|cs">Czech</option><option value="en|da">Danish</option><option value="en|nl">Dutch</option><option value="en|en">English</option><option value="en|et">Estonian</option><option value="en|tl">Filipino</option><option value="en|fi">Finnish</option><option value="en|fr">French</option><option value="en|gl">Galician</option><option value="en|ka">Georgian</option><option value="en|de">German</option><option value="en|el">Greek</option><option value="en|ht">Haitian Creole</option><option value="en|iw">Hebrew</option><option value="en|hi">Hindi</option><option value="en|hu">Hungarian</option><option value="en|is">Icelandic</option><option value="en|id">Indonesian</option><option value="en|ga">Irish</option><option value="en|it">Italian</option><option value="en|ja">Japanese</option><option value="en|ko">Korean</option><option value="en|lv">Latvian</option><option value="en|lt">Lithuanian</option><option value="en|mk">Macedonian</option><option value="en|ms">Malay</option><option value="en|mt">Maltese</option><option value="en|no">Norwegian</option><option value="en|fa">Persian</option><option value="en|pl">Polish</option><option value="en|pt">Portuguese</option><option value="en|ro">Romanian</option><option value="en|ru">Russian</option><option value="en|sr">Serbian</option><option value="en|sk">Slovak</option><option value="en|sl">Slovenian</option><option value="en|es">Spanish</option><option value="en|sw">Swahili</option><option value="en|sv">Swedish</option><option value="en|th">Thai</option><option value="en|tr">Turkish</option><option value="en|uk">Ukrainian</option><option value="en|ur">Urdu</option><option value="en|vi">Vietnamese</option><option value="en|cy">Welsh</option><option value="en|yi">Yiddish</option></select><div id="google_translate_element2"></div>
		</li>
		
		System.Diagnostics.Debug.WriteLine("In User Page now!!!!");*/

		<header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__left">
                            <ul>
                            <a class="navbar-brand" asp-area="" asp-page="/CustomerPages/Home">SGAE</a>
                                <li><i class="fa fa-envelope"></i>@UserManager.GetUserName(User)</li>
                                <li class="text-uppercase text-gray-600 text-xs mx-3 px-2 heading mb-2"></li>
                             <li class="sidebar-item "><a class="sidebar-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Settings"> 
                              @*<svg class="svg-icon svg-icon-sm svg-icon-heavy">
                                <use xlink:href="#setting-1"> </use>
                              </svg>*@
                              <i class="fa-solid fa-gear"></i> <span > Settings </span>
                             </a>
                            </li>
                                
                                <li>Free Shipping for all Order of $99</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                            </div>
                             <div class="list-inline-item dropdow">
			  <!-- GTranslate: https://gtranslate.io/ -->
			                    <a href="#" onclick="doGTranslate('en|en');return false;" title="English" class="gflag nturl" style="background-position:-0px -0px;"></a>
			                    <select onchange="doGTranslate(this);"><option value="">Select Language</option><option value="en|af">Afrikaans</option><option value="en|sq">Albanian</option><option value="en|ar">Arabic</option><option value="en|hy">Armenian</option><option value="en|az">Azerbaijani</option><option value="en|eu">Basque</option><option value="en|be">Belarusian</option><option value="en|bg">Bulgarian</option><option value="en|ca">Catalan</option><option value="en|zh-CN">Chinese (Simplified)</option><option value="en|zh-TW">Chinese (Traditional)</option><option value="en|hr">Croatian</option><option value="en|cs">Czech</option><option value="en|da">Danish</option><option value="en|nl">Dutch</option><option value="en|en">English</option><option value="en|et">Estonian</option><option value="en|tl">Filipino</option><option value="en|fi">Finnish</option><option value="en|fr">French</option><option value="en|gl">Galician</option><option value="en|ka">Georgian</option><option value="en|de">German</option><option value="en|el">Greek</option><option value="en|ht">Haitian Creole</option><option value="en|iw">Hebrew</option><option value="en|hi">Hindi</option><option value="en|hu">Hungarian</option><option value="en|is">Icelandic</option><option value="en|id">Indonesian</option><option value="en|ga">Irish</option><option value="en|it">Italian</option><option value="en|ja">Japanese</option><option value="en|ko">Korean</option><option value="en|lv">Latvian</option><option value="en|lt">Lithuanian</option><option value="en|mk">Macedonian</option><option value="en|ms">Malay</option><option value="en|mt">Maltese</option><option value="en|no">Norwegian</option><option value="en|fa">Persian</option><option value="en|pl">Polish</option><option value="en|pt">Portuguese</option><option value="en|ro">Romanian</option><option value="en|ru">Russian</option><option value="en|sr">Serbian</option><option value="en|sk">Slovak</option><option value="en|sl">Slovenian</option><option value="en|es">Spanish</option><option value="en|sw">Swahili</option><option value="en|sv">Swedish</option><option value="en|th">Thai</option><option value="en|tr">Turkish</option><option value="en|uk">Ukrainian</option><option value="en|ur">Urdu</option><option value="en|vi">Vietnamese</option><option value="en|cy">Welsh</option><option value="en|yi">Yiddish</option></select><div id="google_translate_element2"></div>
		                     </div>
                            <div class="header__top__right__auth">
                                @*<a asp-area="Identity" asp-page="/Account/Login"><i class="fa fa-user"></i>Login</a>*@
                                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
				                    <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Logout</button>
			                    </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="./index.html"><img src="img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a href="/CustomerPages/Home">Home</a></li>
                            <li><a href="/CustomerPages/Shop">Shop</a></li>
                            <li><a href="#">Pages</a>
                                <ul class="header__menu__dropdown">
                                    <li><a href="./shop-details.html">Shop Details</a></li>
                                    <li><a href="./shoping-cart.html">Shoping Cart</a></li>
                                    <li><a href="./checkout.html">Check Out</a></li>
                                    
                                </ul>
                            </li>
                            
                            <li><a href="/CustomerPages/Contacts">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__cart">
                        <ul>
                            <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                            <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
                        </ul>
                        <div class="header__cart__price">item: <span>$0</span></div>
                    </div>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>






	}
       else if (SignInManager.IsSignedIn(User) && User.IsInRole("SGAE_Staff")) {
        <li class="nav-item">
			<a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
		</li>
		<li class="nav-item">
			<form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
				<button id="logout" type="submit" class="nav-link btn btn-link text-dark">Logout</button>
			</form>
		</li>
		<li class="nav-item">
			<a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-dark" asp-area="" asp-page="/Product/Index">Products</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-dark" asp-area="" asp-page="/Category/Index">Category</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-dark" asp-area="" asp-page="/Location">Location</a>
		</li>
		<li class="nav-item">
			  <!-- GTranslate: https://gtranslate.io/ -->
			<select onchange="doGTranslate(this);"><option value="">Select Language</option><option value="en|af">Afrikaans</option><option value="en|sq">Albanian</option><option value="en|ar">Arabic</option><option value="en|hy">Armenian</option><option value="en|az">Azerbaijani</option><option value="en|eu">Basque</option><option value="en|be">Belarusian</option><option value="en|bg">Bulgarian</option><option value="en|ca">Catalan</option><option value="en|zh-CN">Chinese (Simplified)</option><option value="en|zh-TW">Chinese (Traditional)</option><option value="en|hr">Croatian</option><option value="en|cs">Czech</option><option value="en|da">Danish</option><option value="en|nl">Dutch</option><option value="en|en">English</option><option value="en|et">Estonian</option><option value="en|tl">Filipino</option><option value="en|fi">Finnish</option><option value="en|fr">French</option><option value="en|gl">Galician</option><option value="en|ka">Georgian</option><option value="en|de">German</option><option value="en|el">Greek</option><option value="en|ht">Haitian Creole</option><option value="en|iw">Hebrew</option><option value="en|hi">Hindi</option><option value="en|hu">Hungarian</option><option value="en|is">Icelandic</option><option value="en|id">Indonesian</option><option value="en|ga">Irish</option><option value="en|it">Italian</option><option value="en|ja">Japanese</option><option value="en|ko">Korean</option><option value="en|lv">Latvian</option><option value="en|lt">Lithuanian</option><option value="en|mk">Macedonian</option><option value="en|ms">Malay</option><option value="en|mt">Maltese</option><option value="en|no">Norwegian</option><option value="en|fa">Persian</option><option value="en|pl">Polish</option><option value="en|pt">Portuguese</option><option value="en|ro">Romanian</option><option value="en|ru">Russian</option><option value="en|sr">Serbian</option><option value="en|sk">Slovak</option><option value="en|sl">Slovenian</option><option value="en|es">Spanish</option><option value="en|sw">Swahili</option><option value="en|sv">Swedish</option><option value="en|th">Thai</option><option value="en|tr">Turkish</option><option value="en|uk">Ukrainian</option><option value="en|ur">Urdu</option><option value="en|vi">Vietnamese</option><option value="en|cy">Welsh</option><option value="en|yi">Yiddish</option></select><div id="google_translate_element2"></div>
		</li>
		System.Diagnostics.Debug.WriteLine("In User Page now!!!!");
	}
	else
	{
         
		

		/*<li class="nav-item">
			<a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
         
		</li>
		<li class="nav-item">
           
			<a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
            
		</li>
		<li class="nav-item">
			<a class="nav-link text-dark" asp-area="" asp-page="/Location">Location</a>
		</li>
		<li class="nav-item">
			  <!-- GTranslate: https://gtranslate.io/ -->
			<select onchange="doGTranslate(this);"><option value="">Select Language</option><option value="en|af">Afrikaans</option><option value="en|sq">Albanian</option><option value="en|ar">Arabic</option><option value="en|hy">Armenian</option><option value="en|az">Azerbaijani</option><option value="en|eu">Basque</option><option value="en|be">Belarusian</option><option value="en|bg">Bulgarian</option><option value="en|ca">Catalan</option><option value="en|zh-CN">Chinese (Simplified)</option><option value="en|zh-TW">Chinese (Traditional)</option><option value="en|hr">Croatian</option><option value="en|cs">Czech</option><option value="en|da">Danish</option><option value="en|nl">Dutch</option><option value="en|en">English</option><option value="en|et">Estonian</option><option value="en|tl">Filipino</option><option value="en|fi">Finnish</option><option value="en|fr">French</option><option value="en|gl">Galician</option><option value="en|ka">Georgian</option><option value="en|de">German</option><option value="en|el">Greek</option><option value="en|ht">Haitian Creole</option><option value="en|iw">Hebrew</option><option value="en|hi">Hindi</option><option value="en|hu">Hungarian</option><option value="en|is">Icelandic</option><option value="en|id">Indonesian</option><option value="en|ga">Irish</option><option value="en|it">Italian</option><option value="en|ja">Japanese</option><option value="en|ko">Korean</option><option value="en|lv">Latvian</option><option value="en|lt">Lithuanian</option><option value="en|mk">Macedonian</option><option value="en|ms">Malay</option><option value="en|mt">Maltese</option><option value="en|no">Norwegian</option><option value="en|fa">Persian</option><option value="en|pl">Polish</option><option value="en|pt">Portuguese</option><option value="en|ro">Romanian</option><option value="en|ru">Russian</option><option value="en|sr">Serbian</option><option value="en|sk">Slovak</option><option value="en|sl">Slovenian</option><option value="en|es">Spanish</option><option value="en|sw">Swahili</option><option value="en|sv">Swedish</option><option value="en|th">Thai</option><option value="en|tr">Turkish</option><option value="en|uk">Ukrainian</option><option value="en|ur">Urdu</option><option value="en|vi">Vietnamese</option><option value="en|cy">Welsh</option><option value="en|yi">Yiddish</option></select><div id="google_translate_element2"></div>
		</li>*/
	}
</ul>
<script>
	var CollectionsNav = document.getElementsByClassName("sidebar-item")
	for (let item of CollectionsNav) {
        //var theLink = item.firstChild.getAttribute("href");
        
        if (item.firstChild.getAttribute("href") == location.pathname) {
            item.className = "sidebar-item active";
			
        }
        else {
            item.className = "sidebar-item";
			
		}
        
	}

	var dropdown = document.getElementsByClassName("sidebar-link");
     var i;

for (i = 0; i < dropdown.length; i++) {
  dropdown[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var dropdownContent = this.nextElementSibling;
    if (dropdownContent.style.display === "block") {
      dropdownContent.style.display = "none";
    } else {
      dropdownContent.style.display = "block";
    }
  });
}
	

//document.getElementById("hreflist").addEventListener("click", (e) => { 
//    if (e.target && e.target.matches("li.sidebar-item")) {
//        e.target.className = "sidebar-item active";
//	}

//})



</script>
<script type="text/javascript">
function googleTranslateElementInit2() {new google.translate.TranslateElement({pageLanguage: 'en',autoDisplay: false}, 'google_translate_element2');}
</script><script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit2"></script>


<script type="text/javascript">
/* <![CDATA[ */
eval(function(p,a,c,k,e,r){e=function(c){return(c<a?'':e(parseInt(c/a)))+((c=c%a)>35?String.fromCharCode(c+29):c.toString(36))};if(!''.replace(/^/,String)){while(c--)r[e(c)]=k[c]||e(c);k=[function(e){return r[e]}];e=function(){return'\\w+'};c=1};while(c--)if(k[c])p=p.replace(new RegExp('\\b'+e(c)+'\\b','g'),k[c]);return p}('6 7(a,b){n{4(2.9){3 c=2.9("o");c.p(b,f,f);a.q(c)}g{3 c=2.r();a.s(\'t\'+b,c)}}u(e){}}6 h(a){4(a.8)a=a.8;4(a==\'\')v;3 b=a.w(\'|\')[1];3 c;3 d=2.x(\'y\');z(3 i=0;i<d.5;i++)4(d[i].A==\'B-C-D\')c=d[i];4(2.j(\'k\')==E||2.j(\'k\').l.5==0||c.5==0||c.l.5==0){F(6(){h(a)},G)}g{c.8=b;7(c,\'m\');7(c,\'m\')}}',43,43,'||document|var|if|length|function|GTranslateFireEvent|value|createEvent||||||true|else|doGTranslate||getElementById|google_translate_element2|innerHTML|change|try|HTMLEvents|initEvent|dispatchEvent|createEventObject|fireEvent|on|catch|return|split|getElementsByTagName|select|for|className|goog|te|combo|null|setTimeout|500'.split('|'),0,{}))
/* ]]> */
</script>