@page
@model InfocommSolutionsProject.Pages.CustomerPages.CheckOutModel
@{
}
<section class="checkout spad">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h6>
					<span class="icon_tag_alt"></span> Have a coupon? <a href="#">Click here</a> to enter your code
				</h6>
			</div>
		</div>
		<div class="checkout__form">
			<h4>Billing Details</h4>
			<form method="post">
				<div class="row">
					<div class="col-lg-8 col-md-6">
						<div asp-validation-summary="ModelOnly" class="text-danger"></div>
						<input type="hidden" asp-for="AccountModel.Id" />
						
						<div class="row">
							<div class="col-lg-6">
								<div class="checkout__input">
									<p>Fist Name<span>*</span></p>
									<input asp-for="AccountModel.FirstName" readonly class="form-control" />
								</div>
							</div>
							<div class="col-lg-6">
								<div class="checkout__input">
									<p>Last Name<span>*</span></p>
									<input asp-for="AccountModel.LastName" readonly class="form-control" />
								</div>
							</div>
						</div>
						<div class="checkout__input">
							<p>Address<span>*</span></p>
							@if (Model.AccountModel.Address == null)
							{
								<input asp-for="AccountModel.Address" placeholder="Full Address" class="form-control" required/>
							}
							else
							{
								<input asp-for="AccountModel.Address" class="form-control"  required/>

							}
						</div>
						<div class="checkout__input">
							<p>Postcode / ZIP<span>*</span></p>
							@if (Model.AccountModel.PostalCode == null)
							{
								<input asp-for="AccountModel.PostalCode" placeholder="PostCode/Zip" class="form-control"  />
							}
							else
							{
								<input asp-for="AccountModel.PostalCode" class="form-control"  />
							}

						</div>
						<div class="row">
							<div class="col-lg-6">
								<div class="checkout__input">
									<p>Phone<span>*</span></p>
									@if (Model.AccountModel.PhoneNumber == null)
									{
										<input asp-for="AccountModel.PhoneNumber" placeholder="Phone Number" class="form-control"  />
									}
									else
									{
										<input asp-for="AccountModel.PhoneNumber" class="form-control" />
									}
								</div>
							</div>
							<div class="col-lg-6">
								<div class="checkout__input">
									<p>Email<span>*</span></p>
									<input asp-for="AccountModel.Email" readonly class="form-control" />
								</div>
							</div>
						</div>

						@if (Model.AccountModel.Address == null)
						{

						}
						else
						{
							<div class="checkout__input__checkbox">
								<label for="diff-acc">
									Ship to a different address?
									<input type="checkbox" id="diff-acc">
									<span class="checkmark"></span>
								</label>
							</div>
							<div class="checkout__input">
								<p>Order notes<span>*</span></p>
								<input type="text"
								   placeholder="Notes about your order, e.g. special notes for delivery.">
							</div>
						}
						<div>
							<h4>Payment Details</h4>
							@{<input type="hidden" asp-for="PaymentModel1.Id" />
								if (Model.PaymentList.Count()==1)
								{
									
									<div class="col-lg-6">
										<div class="checkout__input">
											<p>@Html.DisplayNameFor(model => model.PaymentModel1.CardNumber)<span>*</span></p>
											<input asp-for="PaymentModel1.CardNumber" readonly class="form-control" />

										</div>
									</div>
									<div class="col-lg-6">
										<div class="checkout__input">
											<p>@Html.DisplayNameFor(model => model.PaymentModel1.DateOfExpiry)<span>*</span></p>
											<input asp-for="PaymentModel1.DateOfExpiry" readonly class="form-control" />

										</div>
									</div>
									<div class="col-lg-6">
										<div class="checkout__input">
											<p>@Html.DisplayNameFor(model => model.PaymentModel1.SecurityCode)<span>*</span></p>
										
										<input asp-for="PaymentModel1.SecurityCode" readonly class="form-control" />
										</div>
									</div>
								}
								else
								{
									<div class="form-group">
										<input type="hidden" asp-for="PaymentModel1.Id" />
										<label asp-for="PaymentModel1.CardNumber" class="control-label"></label>
										@*<input asp-for="SupplierModel.SupplierCategory" class="form-control" />*@
										<select asp-for="PaymentModel1.CardNumber" class="form-control" id="mySelect" asp-items="@Model.PaymentList" onchange="myFunction()">
											<option value="">Please select</option>
										</select>
										<span asp-validation-for="PaymentModel1.CardNumber" class="text-danger"></span>
									</div>
							
									<div class="col-lg-6">
										<div class="checkout__input">
											<p>@Html.DisplayNameFor(model => model.PaymentModel1.DateOfExpiry)<span>*</span></p>
											<input asp-for="PaymentModel1.DateOfExpiry" readonly class="form-control" />

										</div>
									</div>
									<div class="col-lg-6">
										<div class="checkout__input">
											<p>@Html.DisplayNameFor(model => model.PaymentModel1.SecurityCode)<span>*</span></p>
										
										<input asp-for="PaymentModel1.SecurityCode" readonly class="form-control" />
										</div>
									</div>



								}
								
							}
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="checkout__order">
							<h4>Your Order</h4>
							<div class="checkout__order__products">Products <span>Total</span></div>
							<ul>
								@if (Model.TheShoppingCart != null)
								{
									@foreach (var item in Model.TheShoppingCart)
									{
										if (item.Product.DiscountStatus == true)
										{
											// With Discount
											double discountedPrice = item.Product.Price - (item.Product.Price * item.Product.Discount / 100);
											double TotalPriceForProduct = discountedPrice * item.Quantity;
											<li>@item.Product.Name<span>$@TotalPriceForProduct</span></li>
										}
										else
										{
											double TotalPriceForProduct = item.Product.Price * item.Quantity;
											<li>@item.Product.Name<span>$@TotalPriceForProduct</span></li>
										}

									}
								}

							</ul>
							<div class="checkout__order__subtotal">Subtotal <span>$@Model.TotalCost</span></div>
							<div class="checkout__order__total">Total <span>$@Model.TotalCost</span></div>
							<div class="checkout__input__checkbox">
								<div class="checkout__input__checkbox">
									<label for="payment">
										Check Payment
										<input type="checkbox" id="payment">
										<span class="checkmark"></span>
									</label>
								</div>
								<div class="checkout__input__checkbox">
									<label for="paypal">
										Paypal
										<input type="checkbox" id="paypal">
										<span class="checkmark"></span>
									</label>
								</div>
								<button type="submit" class="site-btn">PLACE ORDER</button>
							</div>
						</div>
					</div>
			</form>
		</div>
	</div>
</section>
<script>
	function myFunction() {
		var x = document.getElementById("mySelect").value;
		document.getElementById("demo").innerHTML = x;
	}
</script>