@page
@model InfocommSolutionsProject.Pages.CustomerPages.CheckOutModel
@{
}
<section class="checkout spad">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h6>
					<span class="icon_tag_alt"></span> Have a coupon? <a href="#">Click here</a> to enter your code
				</h6>
			</div>
		</div>
		<div class="checkout__form">
			<h4>Billing Details</h4>
			<form method="post">
				<div class="row">
					<div class="col-lg-8 col-md-6">
						<div asp-validation-summary="ModelOnly" class="text-danger"></div>
						<input type="hidden" asp-for="AccountModel.Id" />

						<div class="row">
							<div class="col-lg-6">
								<div class="checkout__input">
									<p>Fist Name<span>*</span></p>
									<input asp-for="AccountModel.FirstName" readonly class="form-control" />
								</div>
							</div>
							<div class="col-lg-6">
								<div class="checkout__input">
									<p>Last Name<span>*</span></p>
									<input asp-for="AccountModel.LastName" readonly class="form-control" />
								</div>
							</div>
						</div>
						<div class="checkout__input">
							<p>Address<span>*</span></p>
							@if (Model.AccountModel.Address == null)
							{
								<input asp-for="AccountModel.Address" placeholder="Full Address" class="form-control" required />
							}
							else
							{
								<input asp-for="AccountModel.Address" class="form-control" required />

							}
						</div>
						<div class="checkout__input">
							<p>Postcode / ZIP<span>*</span></p>
							@if (Model.AccountModel.PostalCode == null)
							{
								<input asp-for="AccountModel.PostalCode" placeholder="PostCode/Zip" class="form-control" />
							}
							else
							{
								<input asp-for="AccountModel.PostalCode" class="form-control" />
							}

						</div>
						<div class="row">
							<div class="col-lg-6">
								<div class="checkout__input">
									<p>Phone<span>*</span></p>
									@if (Model.AccountModel.PhoneNumber == null)
									{
										<input asp-for="AccountModel.PhoneNumber" placeholder="Phone Number" class="form-control" />
									}
									else
									{
										<input asp-for="AccountModel.PhoneNumber" class="form-control" />
									}
								</div>
							</div>
							<div class="col-lg-6">
								<div class="checkout__input">
									<p>Email<span>*</span></p>
									<input asp-for="AccountModel.Email" readonly class="form-control" />
								</div>
							</div>
						</div>

						@if (Model.AccountModel.Address == null)
						{
							<div class="checkout__input">
								<p>Order notes<span>*</span></p>
								<input asp-for="ordersmodel.Notes" class="form-control" placeholder="Notes about your order, e.g. special notes for delivery." />
							</div>
						}
						else
						{
							<div>
								<input type="checkbox" id="show" name="show" />
								<label for="show">Ship to different Address?</label>
							</div>

							<div id="box" style="display:none;">
							<div class="checkout__input" >
								<p>Address <span>*</span></p>

								<input asp-for="ordersmodel.Address"  placeholder="Full Address" class="form-control"  />

							</div>
							<div class="checkout__input">
								<p>Postcode / ZIP<span>*</span></p>

								<input asp-for="ordersmodel.PostalCode" placeholder="PostCode/Zip" class="form-control" />
							</div>
							</div>
							<script type="text/javascript">
								const checkbox = document.getElementById('show');

								const box = document.getElementById('box');

								checkbox.addEventListener('click', function handleClick() {
									if (checkbox.checked) {
										box.style.display = 'block';
									} else {
										box.style.display = 'none';
									}
								});</script>

							<div class="checkout__input">
								<p>Order notes<span>*</span></p>
								<input asp-for="ordersmodel.Notes" class="form-control" placeholder="Notes about your order, e.g. special notes for delivery." />

							</div>
						}
						<div>
							<h4>Payment Details</h4>
							@{
								<div class="form-group">
									<label asp-for="PaymentModel1.CardNumber" class="control-label"></label>
									<select asp-for="PaymentModel1.CardNumber" class="form-control" id="mySelect" asp-items="@Model.PaymentList" onChange="SelectedValue(this)">
									</select>
									<span asp-validation-for="PaymentModel1.CardNumber" class="text-danger"></span>
								</div>


			//	@if (@Model.cardid != 0)
								//{
								//		@foreach (var item in Model.PaymentModel2.Distinct().Where(i => i.Id ==@Model.cardid ))
								//{
								//		<div class="col-lg-6">
								//			<div class="checkout__input">
								//				<p>@Html.DisplayNameFor(model => model.PaymentModel1.DateOfExpiry)<span>*</span></p>
								//				<p >@Html.DisplayFor(model=>item.DateOfExpiry)</p>

			//			</div>
								//		</div>
								//		<div class="col-lg-6">
								//			<div class="checkout__input">
								//				<p>@Html.DisplayNameFor(model => model.PaymentModel1.SecurityCode)<span>*</span></p>

			//				<p>@Html.DisplayFor(model=>item.SecurityCode)</p>
								//			</div>
								//		</div>
								//}
								//}


							}
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="checkout__order">
							<h4>Your Order</h4>
							<div class="checkout__order__products">Products <span>Total</span></div>
							<ul>
								@if (Model.TheShoppingCart != null)
								{
									@foreach (var item in Model.TheShoppingCart)
									{
										if (item.Product.DiscountStatus == true)
										{
											// With Discount
											double discountedPrice = item.Product.Price - (item.Product.Price * item.Product.Discount / 100);
											double TotalPriceForProduct = discountedPrice * item.Quantity;
											<li>@item.Product.Name<span>$@TotalPriceForProduct</span></li>
										}
										else
										{
											double TotalPriceForProduct = item.Product.Price * item.Quantity;
											<li>@item.Product.Name<span>$@TotalPriceForProduct</span></li>
										}

									}
								}

							</ul>
							<div class="checkout__order__subtotal">Subtotal <span>$@Model.TotalCost</span></div>
							<div class="checkout__order__total">Total <span>$@Model.TotalCost</span></div>
							<div class="checkout__input__checkbox">
								<div class="checkout__input__checkbox">
									<label for="paypal">
										Paypal
										<input type="checkbox" id="paypal">
										<span class="checkmark"></span>
									</label>
								</div>
								<button type="submit" class="site-btn">PLACE ORDER</button>
							</div>
						</div>
					</div>
			</form>
		</div>
	</div>
</section>


<script type="text/javascript">

	//To get selected value an text of dropdownlist
	function SelectedValue(ddlObject) {
		//Selected value of dropdownlist
		var selectedValue = ddlObject.value;
		//Selected text of dropdownlist
		var selectedText = ddlObject.options[ddlObject.selectedIndex].innerHTML;

		//window.location.reload();
		//alert popup with detail of seleceted value and text
		alert("Selected Text: " + selectedText);
	}

</script>
