@page
@model InfocommSolutionsProject.Pages.CustomerPages.CheckOutModel
@{
}
<section class="checkout spad">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h6>
					<span class="icon_tag_alt"></span> Have a coupon? <a href="#">Click here</a> to enter your code
				</h6>
			</div>
		</div>
		<div class="checkout__form">
			<h4>Billing Details</h4>
			<form method="post">
				<div class="row">
					<div class="col-lg-8 col-md-6">
						<div asp-validation-summary="ModelOnly" class="text-danger"></div>
						<input type="hidden" asp-for="AccountModel.Id" />

						<div class="row">
							<div class="col-lg-6">
								<div class="checkout__input">
									<p>Fist Name<span>*</span></p>
									<input asp-for="AccountModel.FirstName" readonly class="checkout__input" />
								</div>
							</div>
							<div class="col-lg-6">
								<div class="checkout__input">
									<p>Last Name<span>*</span></p>
									<input asp-for="AccountModel.LastName" readonly class="checkout__input" />
								</div>
							</div>
						</div>
						<div class="checkout__input">
							<p>Address<span>*</span></p>
							@if (Model.AccountModel.Address == null)
							{
								<input asp-for="AccountModel.Address" id="add" placeholder="Full Address" class="checkout__input" required />
								<span asp-validation-for="AccountModel.Address" class="text-danger" class="form-control"></span>

							}
							else
							{
								<input asp-for="AccountModel.Address" id="add" class="checkout__input" required />
								<span asp-validation-for="AccountModel.Address" class="text-danger" class="form-control"></span>
							}
						</div>
						<div class="checkout__input">
							<p>Postcode / ZIP<span>*</span></p>
							@if (Model.AccountModel.PostalCode == null)
							{
								<input asp-for="AccountModel.PostalCode" id="zip" placeholder="PostCode/Zip" class="checkout__input" required   />
								<span asp-validation-for="AccountModel.Address" class="text-danger" class="form-control"></span>
							}
							else
							{	
								<input asp-for="AccountModel.PostalCode" id="zip" class="checkout__input" required  data-val-regex-pattern="(^[0-9]{6}$)" data-val-regex="Postal Code  must be 6 digits."/>
								<span asp-validation-for="AccountModel.PostalCode" class="text-danger" class="form-control"></span>
							}

						</div>
						<div class="row">
							<div class="col-lg-6">
								<div class="checkout__input">
									<p>Phone<span>*</span></p>
									@if (Model.AccountModel.PhoneNumber == null)
									{
										<input asp-for="AccountModel.PhoneNumber" placeholder="Phone Number" class="checkout__input" />
										<span asp-validation-for="AccountModel.PhoneNumber" class="text-danger" class="form-control"></span>
									}
									else
									{
										<input asp-for="AccountModel.PhoneNumber" class="checkout__input" />
										<span asp-validation-for="AccountModel.PhoneNumber" class="text-danger" class="form-control"></span>
									}
								</div>
							</div>
							<div class="col-lg-6">
								<div class="checkout__input">
									<p>Email<span>*</span></p>
									<input asp-for="AccountModel.Email" readonly class="checkout__input" />
								</div>
							</div>
						</div>

						@if (Model.AccountModel.Address == null)
						{
							<div class="checkout__input">
								<p>Order notes<span>*</span></p>
								<input asp-for="ordersmodel.Notes" class="checkout__input" placeholder="Notes about your order, e.g. special notes for delivery." />
								<span asp-validation-for="ordersmodel.Notes" class="text-danger" class="form-control"></span>
							</div>
						}
						else
						{
							<div>
								<input type="checkbox" id="show" name="show" />
								<label for="show">Ship to different Address?</label>
							</div>

							<div id="box" style="display:none;">
							<div class="checkout__input" >
								<p>Address <span>*</span></p>

								<input asp-for="ordersmodel.Address" id="add1" placeholder="Full Address" class="checkout__input"  />
								<span asp-validation-for="ordersmodel.Address" class="text-danger" class="form-control"></span>

							</div>
							<div class="checkout__input">
								<p>Postcode / ZIP<span>*</span></p>
								<input asp-for="ordersmodel.PostalCode" id="post1" placeholder="PostCode/Zip" class="checkout__input"/>
								<span asp-validation-for="ordersmodel.PostalCode" class="text-danger" class="form-control"></span>
							</div>
							</div>
							<script type="text/javascript">
								const checkbox = document.getElementById('show');

								const box = document.getElementById('box');

								checkbox.addEventListener('click', function handleClick() {
									if (checkbox.checked) {
										box.style.display = 'block';
										document.getElementById("add1").required = true;
										document.getElementById("post1").required = true;
										document.getElementById("add").required = false;
										document.getElementById("zip").required = false	;
									} else {
										box.style.display = 'none';
										document.getElementById("add1").required = false;
										document.getElementById("post1").required = false;
										document.getElementById("add").required = true;
										document.getElementById("zip").required = true	;
									}
								});</script>

							<div class="checkout__input">
								<p>Order notes<span>*</span></p>
								<input asp-for="ordersmodel.Notes" class="checkout__input" placeholder="Notes about your order, e.g. special notes for delivery." />
								<span asp-validation-for="ordersmodel.Notes" class="text-danger" class="form-control"></span>


							</div>
						}
						<div>
							<h4>Payment Details</h4>
							@{
																	<div class="form-group">
																		<label asp-for="PaymentModel1.CardNumber" class="control-label"></label>
																		<select asp-for="PaymentModel1.CardNumber" class="form-control" id="mySelect" asp-items="@Model.PaymentList" onChange="SelectedValue(this)">
																		</select>
																		<span asp-validation-for="PaymentModel1.CardNumber" class="text-danger"></span>
																	</div>
								if (Model.PaymentList.Count() == 1)
								{
																		<div class="col-lg-6">
																			<div class="checkout__input">
																				<p>@Html.DisplayNameFor(model => model.PaymentModel1.DateOfExpiry)<span>*</span></p>
																				<p >@Html.DisplayFor(model=>@model.PaymentModel1.DateOfExpiry)</p>
																			</div>
																		</div>
																		<div class="col-lg-6">
																			<div class="checkout__input">
																				<p>@Html.DisplayNameFor(model => model.PaymentModel1.SecurityCode)<span>*</span></p>
																				<p>@Html.DisplayFor(model=>@model.PaymentModel1.SecurityCode)</p>
																			</div>
																		</div>
								}
								else
								{
																	//<div class="col-lg-6">
																	//	<div class="checkout__input">
																	//		<p>@Html.DisplayNameFor(model => model.PaymentModel1.DateOfExpiry)<span>*</span></p>
																	//		<p id="dateofexpiry"></p>
																	//	</div>
																	//</div>
																	//<div class="col-lg-6">
																	//	<div class="checkout__input">
																	//		<p>@Html.DisplayNameFor(model => model.PaymentModel1.SecurityCode)<span>*</span></p>
																	//		<p id="securitycode"></p>
																	//	</div>
																	//</div>
								}

								//	@if (@Model.cardid != 0)
								//{
								//		@foreach (var item in Model.PaymentModel2.Distinct().Where(i => i.Id ==@Model.cardid ))
								//{
								//		<div class="col-lg-6">
								//			<div class="checkout__input">
								//				<p>@Html.DisplayNameFor(model => model.PaymentModel1.DateOfExpiry)<span>*</span></p>
								//				<p >@Html.DisplayFor(model=>item.DateOfExpiry)</p>

			//			</div>
								//		</div>
								//		<div class="col-lg-6">
								//			<div class="checkout__input">
								//				<p>@Html.DisplayNameFor(model => model.PaymentModel1.SecurityCode)<span>*</span></p>

			//				<p>@Html.DisplayFor(model=>item.SecurityCode)</p>
								//			</div>
								//		</div>
								//}
								//}


							}
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="checkout__order">
							<h4>Your Order</h4>
							<div class="checkout__order__products">Products <span>Total</span></div>
							<ul>
								@if (Model.TheShoppingCart != null)
								{
									@foreach (var item in Model.TheShoppingCart)
									{
										if (item.Product.DiscountStatus == true)
										{
											// With Discount
											double discountedPrice = item.Product.Price - (item.Product.Price * item.Product.Discount / 100);
											double TotalPriceForProduct = discountedPrice * item.Quantity;
											<li>@item.Product.Name<span>$@TotalPriceForProduct</span></li>
										}
										else
										{
											double TotalPriceForProduct = item.Product.Price * item.Quantity;
											<li>@item.Product.Name<span>$@TotalPriceForProduct</span></li>
										}

									}
								}

							</ul>
							<div class="checkout__order__subtotal">Subtotal <span>$@Math.Round(Model.TotalCost,2,MidpointRounding.AwayFromZero)</span></div>
							@if (@Math.Round(Model.TotalCost, 2, MidpointRounding.AwayFromZero) >= 99)
							{
								<div>Shipping Fee <span>Free Shipping</span></div>
								<div class="checkout__order__total">Total <span name="to" id="to">$@Math.Round(Model.TotalCost,2,MidpointRounding.AwayFromZero)</span></div>
							}
							else
							{
								<div>Shipping Fee <span>$9.9</span></div>

								var totalamount = @Math.Round(Model.TotalCost, 2, MidpointRounding.AwayFromZero) ;
								totalamount += 9.9;

								<div class="checkout__order__total">Total <span name="to" id="to">$ @Math.Round( totalamount,2,MidpointRounding.AwayFromZero)</span></div>
							}
							
							
							<div class="checkout__input__checkbox">
								<div class="checkout__input__checkbox">
									<label for="paypal">
										Paypal
										<input type="checkbox" id="paypal">
										<span class="checkmark"></span>
									</label>
								</div>
								<input value="PLACE ORDER" type="submit" class="site-btn">
							</div>
						</div>
					</div>
			</form>
		</div>
	</div>
</section>


<script >

	//To get selected value an text of dropdownlist
	function SelectedValue(ddlObject) {
		//Selected value of dropdownlist
		var selectedValue = ddlObject.value;
		@Model.value123=selectedValue;
		//Selected text of dropdownlist
		//var paylist1 = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.PaymentList));
		var selectedText = ddlObject.options[ddlObject.selectedIndex].innerHTML;
        
		//window.location.reload();
		//alert popup with detail of seleceted value and text
		alert("Selected Text: " + selectedText);
	}

</script>
