@page
@model InfocommSolutionsProject.Pages.CustomerPages.OrderDetails

@{
	ViewData["Title"] = "Index";
}

<h1>Order Details</h1>


<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.OrderDetail[0].Product)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.OrderDetail[0].quantity)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.OrderDetail[0].PriceOfOrder)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.OrderDetail[0].Accounts)

			</th>
			<th>
				@Html.DisplayNameFor(model => model.OrderDetail[0].Address)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.OrderDetail[0].PostalCode)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.OrderDetail[0].DateOfOrder)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.OrderDetail[0].OrderStatus)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.OrderDetail[0].Notes)
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.OrderDetail)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Product.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Product.Quantity)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.PriceOfOrder)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Accounts.Email)
				</td>
				<td>
					@Html.DisplayFor(modelItem =>item.Accounts.Address)
				</td>
				<td>
					@Html.DisplayFor(modelItem =>item.Accounts.PostalCode)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.DateOfOrder)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.OrderStatus)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Notes)
				</td>

			</tr>
		}
	</tbody>
</table>
