@page
@model InfocommSolutionsProject.Pages.CustomerPages.ProductDetailsModel

@{
}
<style>

	.commentBox {
		background-color: #efefef;
		padding: 10px;
		border-radius: 10px;
	}

	.starFade {
		background-image: url('/Images/CustomerPageImages/StarFade.gif');
		min-width: 30px;
		min-height: 30px;
		display: inline-block;
		cursor: pointer;
	}

	.starFadeN {
		background-image: url('/Images/CustomerPageImages/StarFade.gif');
		min-width: 30px;
		min-height: 30px;
		display: inline-block;
	}

	.starGlow {
		background-image: url('/Images/CustomerPageImages/starglow.gif');
		min-width: 30px;
		min-height: 30px;
		display: inline-block;
		cursor: pointer;
	}

	.starGlowN {
		background-image: url('/Images/CustomerPageImages/starglow.gif');
		min-width: 30px;
		min-height: 30px;
		display: inline-block;
	}
</style>
<section class="breadcrumb-section set-bg" data-setbg="/Images/CustomerPageImages/breadcrumb.jpg">
</section>
<!-- Breadcrumb Section End -->
<!-- Product Details Section Begin -->
<section class="product-details spad">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6">
				<div class="product__details__pic">
					@* <div class="product__discount__item__pic set-bg">
					<div class="product__discount__percent">-@Model.Product.Discount%</div>
					</div>*@

					<div class="product__details__pic__item">
						@{
							string ImgPath = "~/Images/ProductImages/" + @Model.Product.ImagePath;
						}
						<img style="width:300px; height:500px;" class="product__details__pic__item--large"
							 src="@Url.Content(ImgPath)" alt="">

					</div>
					<div class="product__details__pic__slider owl-carousel">
						<img data-imgbigurl="img/product/details/product-details-2.jpg"
							 src="img/product/details/thumb-1.jpg" alt="">
						<img data-imgbigurl="img/product/details/product-details-3.jpg"
							 src="img/product/details/thumb-2.jpg" alt="">
						<img data-imgbigurl="img/product/details/product-details-5.jpg"
							 src="img/product/details/thumb-3.jpg" alt="">
						<img data-imgbigurl="img/product/details/product-details-4.jpg"
							 src="img/product/details/thumb-4.jpg" alt="">
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6">
				<div class="product__details__text">
					<h3>@Model.Product.Name</h3>
					<div class="product__details__rating">
						@{
							for (var i = 1; i <= @Model.averangenum; i++)
							{
								<i class="starGlowN"></i>
							}
							for (var i = (@Model.averangenum + 1); i <= 5; i++)
							{
								<i class="starFadeN"></i>
							}
						}

						<span>@Model.ratings.Count()</span>
					</div>
					@{
						var FinalPrice = Model.Product.Price - (Model.Product.Price * Model.Product.Discount / 100);
					}
					<div class="product__discount__item__text">
						<div class="product__item__price" style="color:red; font-size:40px;text-align: left;">$@FinalPrice<span>@Model.Product.Price</span></div>
					</div>
					@* <div>Discounted Price :</div>
					<div class="product__details__price">$@FinalPrice</div>*@
					<p>@Model.Product.Description</p>
					<form asp-page-handler="AddToShoppingCart" asp-route-id="@Model.Product.Id" method="post">

						@if (@Model.Product.Quantity <= 0)
						{
							<a class="primary-btn">Out Of Stock</a>
						}
						else
						{
							<div class="product__details__quantity">
								<div class="quantity">
									<div class="pro-qty">
										<input type="number" value="1" min="1" max="@Model.Product.Quantity" id="ItemQuantity" name="ItemQuantity">
									</div>
								</div>
							</div>
							<button class="primary-btn" type="submit">Add to Cart</button>


							<a asp-page="ShoppingCart" asp-page-handler="buynow" asp-route-id="@Model.Product.Id" class="primary-btn">Buy Now</a>

						}
					</form>
					<form asp-page-handler="AddToWishList" asp-route-id="@Model.Product.Id" method="post">
						<input type="hidden" id="accountid" name="accountid" value="@Model.userid" />
						<button type="submit"><i class="fa fa-heart"></i></button>
					</form>
					<ul>
						@if (@Model.Product.Quantity <= 0)
						{
							<li><b>Availability</b> <span>Out Of Stock</span></li>
						}
						else
						{
							<li><b>Availability</b> <span>In Stock</span></li>
						}

						<li><b>Shipping</b> <span>01 day shipping. <samp>Free pickup today</samp></span></li>
						<li><b>Weight</b> <span>0.5 kg</span></li>
						<li>
							<b>Share on</b>
							<div class="share">
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-instagram"></i></a>
								<a href="#"><i class="fa fa-pinterest"></i></a>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-12">
				<div class="product__details__tab">
					<ul class="nav nav-tabs" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab"
							   aria-selected="true">Description</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab"
							   aria-selected="false">Information</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab"
							   aria-selected="false">Reviews <span>@Model.ratings.Count()</span></a>
						</li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="tabs-1" role="tabpanel">
							<div class="product__details__tab__desc">
								<h6>Products Infomation</h6>
								<p>@Model.Product.Description</p>
							</div>
						</div>
						<div class="tab-pane" id="tabs-2" role="tabpanel">
							<div class="product__details__tab__desc">
								<h6>Products Infomation</h6>
								<p>
									Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.
									Pellentesque in ipsum id orci porta dapibus. Proin eget tortor risus.
									Vivamus suscipit tortor eget felis porttitor volutpat. Vestibulum ac diam
									sit amet quam vehicula elementum sed sit amet dui. Donec rutrum congue leo
									eget malesuada. Vivamus suscipit tortor eget felis porttitor volutpat.
									Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Praesent
									sapien massa, convallis a pellentesque nec, egestas non nisi. Vestibulum ac
									diam sit amet quam vehicula elementum sed sit amet dui. Vestibulum ante
									ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
									Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.
									Proin eget tortor risus.
								</p>
								<p>
									Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Lorem
									ipsum dolor sit amet, consectetur adipiscing elit. Mauris blandit aliquet
									elit, eget tincidunt nibh pulvinar a. Cras ultricies ligula sed magna dictum
									porta. Cras ultricies ligula sed magna dictum porta. Sed porttitor lectus
									nibh. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.
								</p>
							</div>
						</div>
						<div class="tab-pane" id="tabs-3" role="tabpanel">
							<div class="product__details__tab__desc">
								<dl class="dl-horizontal">
									<dt>
										Comment
									</dt>
									@if (@Model.checkifuserhavebuy == 0)
									{

										<p>Comment will be enable after you have make an Order</p>

									}
									else
									{
										<dd>
											<div class="commentBox">
												@*@using (Html.BeginForm("Add", "ArticlesComments", FormMethod.Post, new { onsubmit = "return SubmitComment()" }))
											{*@
												@*@Html.AntiForgeryToken()*@
												<form asp-page-handler="AddRating" asp-route-id="@Model.Product.Id" method="post">
													<div class="form-horizontal">
														<div class="form-group">
															<label class="col-md-4 control-label">
																Your rating <span style="font-weight:normal;">(1 start is bad, 5 star is good)</span>
															</label>
															<div class="col-md-7">
																<div onmouseout="CRateSelected()">
																	<span class="starFade" id="Rate1" onclick="CRate(1)" onmouseover="CRateOver(1)" onmouseout="CRateOut(1)"></span><span class="starFade" id="Rate2" onclick="CRate(2)" onmouseover="CRateOver(2)" onmouseout="CRateOut(2)"></span><span class="starFade" id="Rate3" onclick="CRate(3)" onmouseover="CRateOver(3)" onmouseout="CRateOut(3)"></span><span class="starFade" id="Rate4" onclick="CRate(4)" onmouseover="CRateOver(4)" onmouseout="CRateOut(4)"></span><span class="starFade" id="Rate5" onclick="CRate(5)" onmouseover="CRateOver(5)" onmouseout="CRateOut(5)"></span>
																	<span asp-validation-for="rating2.rating" class="text-danger" class="form-control"></span>
																</div>
															</div>
														</div>
														<div class="form-group">
															<div class="col-md-12">
																<input asp-for="rating2.Description" name="Comment" id="Comment" required rows="5" style="width:100%;" class="form-control">
																<span asp-validation-for="rating2.Description" class="text-danger" class="form-control"></span>

															</div>
														</div>
														<div class="form-group">
															<div class="col-md-12">

																<input type="hidden" name="Rating" id="Rating" value="0" />
																<input type="hidden" id="accountid" name="accountid" value="@Model.userid" />
																<input type="submit" asp-page="/CustomerPages/ProductDetails" asp-page-handler="AddRating" asp-route-id="@Model.Product.Id" class="primary-btn" onclick="SubmitComment()" value="Submit Comment">
															</div>
														</div>
													</div>
												</form>
												@*}*@
											</div>
										</dd>
									}



								</dl>
								<h6>Reviews</h6>


								<table class="table">
									<thead>
										<tr>
											<th>
												<a>@Html.DisplayNameFor(model => model.ratings[0].Accounts.Email)</a>

											</th>
											<th>
												<a>@Html.DisplayNameFor(model => model.ratings[0].rating)</a>
											</th>
											<th>
												<a>@Html.DisplayNameFor(model => model.ratings[0].Description)</a>

											</th>
											<th>
												<a>@Html.DisplayNameFor(model => model.ratings[0].CreatedOn)</a>

											</th>

										</tr>
									</thead>
									<tbody>
										@{
											foreach (var item in Model.ratings)
											{
												<tr>
													<td>
														@Html.DisplayFor(modelItem => item.Accounts.Email)
													</td>
													<td>
														@for (var i = 1; i <= item.rating; i++)
														{
															<i class="starGlowN"></i>
														}
														@for (var i = (item.rating + 1); i <= 5; i++)
														{
															<i class="starFadeN"></i>
														}

													</td>
													<td>
														@Html.DisplayFor(modelItem => item.Description)
													</td>
													<td>
														@Html.DisplayFor(modelItem => item.CreatedOn)
													</td>
												</tr>
											}
										}

									</tbody>
								</table>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Product Details Section End -->
<!-- Related Product Section Begin -->
<section class="related-product">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section-title related__product__title">
					<h2>Related Product</h2>
				</div>
			</div>
		</div>
		<div class="row">
			@{
				foreach (var item123 in Model.Products1)
				{
					string ImgPath1 = "~/Images/ProductImages/" + item123.ImagePath;
					<div class="col-lg-3 col-md-4 col-sm-6">
						<div class="product__discount__item">
							<div class="product__discount__item__pic set-bg" data-setbg="@Url.Content(ImgPath1)">
								@if (item123.Quantity == 0)
								{
									<div style="color:red;">Out Of Stock</div>
									<ul class="product__item__pic__hover">
										<li>
											<form asp-page-handler="AddToWishList" asp-route-id="@item123.Id" method="post">
												<input type="hidden" id="accountid" name="accountid" value="@Model.userid" />
												<button type="submit"><i class="fa fa-heart"></i></button>
											</form>
										</li>
										<li><a href="#"><i class="fa fa-retweet"></i></a></li>
									</ul>
								}
								else
								{
									@if (item123.DiscountStatus == true && item123.Discount != 0)
									{
										<div class="product__discount__percent">-@item123.Discount%</div>
									}
									else
									{

									}

									<ul class="product__item__pic__hover">
										<li>
											<form asp-page-handler="AddToWishList" asp-route-id="@item123.Id" method="post">
												<input type="hidden" id="accountid" name="accountid" value="@Model.userid" />
												<button type="submit"><i class="fa fa-heart"></i></button>
											</form>
										</li>
										<li><a href="#"><i class="fa fa-retweet"></i></a></li>
										<li>
											<form asp-page-handler="AddToShoppingCart" asp-route-id="@item123.Id" method="post">
												<input type="hidden" value="1" id="ItemQuantity" name="ItemQuantity">
												<button type="submit" onclick="myFunction()"><i class="fa fa-shopping-cart"></i></button>
											</form>
										</li>
									</ul>

								}

							</div>
							@if (@item123.DiscountStatus == true && item123.Discount != 0)
							{
								var FinalPrice1 = @item123.Price - (@item123.Price * @item123.Discount / 100);
								<div class="featured__item__text">
									<h6><a asp-page="./ProductDetails" asp-route-id="@item123.Id">@item123.Name</a></h6>
									<h5>$@FinalPrice1</h5>
								</div>
							}
							else
							{
								<div class="featured__item__text">
									<h6><a asp-page="./ProductDetails" asp-route-id="@item123.Id">@item123.Name</a></h6>
									<h5>$@item123.Price</h5>
								</div>

							}
						</div>

					</div>
				}
			}
			@*<div class="col-lg-3 col-md-4 col-sm-6">
			<div class="product__item">
			<div class="product__item__pic set-bg" data-setbg="img/product/product-1.jpg">
			<ul class="product__item__pic__hover">
			<li><a href="#"><i class="fa fa-heart"></i></a></li>
			<li><a href="#"><i class="fa fa-retweet"></i></a></li>
			<li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
			</ul>
			</div>
			<div class="product__item__text">
			<h6><a href="#">Crab Pool Security</a></h6>
			<h5>$30.00</h5>
			</div>
			</div>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6">
			<div class="product__item">
			<div class="product__item__pic set-bg" data-setbg="img/product/product-2.jpg">
			<ul class="product__item__pic__hover">
			<li><a href="#"><i class="fa fa-heart"></i></a></li>
			<li><a href="#"><i class="fa fa-retweet"></i></a></li>
			<li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
			</ul>
			</div>
			<div class="product__item__text">
			<h6><a href="#">Crab Pool Security</a></h6>
			<h5>$30.00</h5>
			</div>
			</div>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6">
			<div class="product__item">
			<div class="product__item__pic set-bg" data-setbg="img/product/product-3.jpg">
			<ul class="product__item__pic__hover">
			<li><a href="#"><i class="fa fa-heart"></i></a></li>
			<li><a href="#"><i class="fa fa-retweet"></i></a></li>
			<li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
			</ul>
			</div>
			<div class="product__item__text">
			<h6><a href="#">Crab Pool Security</a></h6>
			<h5>$30.00</h5>
			</div>
			</div>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6">
			<div class="product__item">
			<div class="product__item__pic set-bg" data-setbg="img/product/product-7.jpg">
			<ul class="product__item__pic__hover">
			<li><a href="#"><i class="fa fa-heart"></i></a></li>
			<li><a href="#"><i class="fa fa-retweet"></i></a></li>
			<li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
			</ul>
			</div>
			<div class="product__item__text">
			<h6><a href="#">Crab Pool Security</a></h6>
			<h5>$30.00</h5>
			</div>
			</div>
			</div>*@
		</div>
	</div>
</section>
<!-- Related Product Section End -->
<script type="text/javascript">

	//To get selected value an text of dropdownlist
	function myFunction() {
		alert("Item have been added to cart");
	}
</script>
<script>
	function SubmitComment() {
		if ($("#Rating").val() == "0") {
			alert("Please rate this service provider.");
			return false;
		}
		else {
			return true;
		}
	}

	function CRate(r) {
		$("#Rating").val(r);
		for (var i = 1; i <= r; i++) {
			$("#Rate" + i).attr('class', 'starGlow');
		}
		// unselect remaining
		for (var i = r + 1; i <= 5; i++) {
			$("#Rate" + i).attr('class', 'starFade');
		}
	}

	function CRateOver(r) {
		for (var i = 1; i <= r; i++) {
			$("#Rate" + i).attr('class', 'starGlow');
		}
	}

	function CRateOut(r) {
		for (var i = 1; i <= r; i++) {
			$("#Rate" + i).attr('class', 'starFade');
		}
	}

	function CRateSelected() {
		var setRating = $("#Rating").val();
		for (var i = 1; i <= setRating; i++) {
			$("#Rate" + i).attr('class', 'starGlow');
		}
	}
</script>
