@page
@model InfocommSolutionsProject.Pages.CustomerPages.ViewWishList

@{
    ViewData["Title"] = "View Wish List";

}
<style>
    #cross:before {
    content: ' \2717';
    color:red;
}



    #tick-mark {
    position: relative;
    display: inline-block;
    width: 15px;
    height: 15px;
}

#tick-mark::before {
    position: absolute;
    left: 0;
    top: 50%;
    height: 50%;
    width: 3px;
    background-color: green;
    content: "";
    transform: translateX(10px) rotate(-45deg);
    transform-origin: left bottom;
}

#tick-mark::after {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background-color: green;
    content: "";
    transform: translateX(10px) rotate(-45deg);
    transform-origin: left bottom;
}
</style>
<div class="container">
   
    @if (@Model.wishLists.Count() == 0)
    {
     <p>No Record Found</p>
        <a asp-page="/CustomerPages/Shop">Add some Wish List?</a>
    }
    else
    {
         <h1>Your Wish List :)</h1>
           <p>
    <a asp-page="/CustomerPages/Shop">Add More Item</a>
    </p>
    <table class="table">
    <thead>
        <tr>
            <th>
               Product Image
            </th>
            <th>
                @Html.DisplayNameFor(model => model.wishLists[0].Product.Name)
            </th>
            <th>
                Added ON
            </th>
             <th>
                @Html.DisplayNameFor(model => model.wishLists[0].Product.Quantity)
            </th>
             <th>
                Discount %
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.wishLists) {
        <tr>
            <td>
                @{ var ProductImagePath = "~/Images/ProductImages/" + (item.Product.ImagePath ?? "noimage.jpg");}
                <img src="@ProductImagePath" asp-append-version="true" class="ProductImageIndexDisplay"
                width="150" 
                height="150"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>
             <td>
                @if (item.Product.Quantity != 0)
                {
                   <div id="tick-mark"></div><p>Have Stock Now!</p>
                }
                else
                {
                    <p id="cross">Out Stock Now!</p>   
                }
               
            </td>
            <td>
                @if(item.Product.Discount!=0 && item.Product.DiscountStatus == true)
                {
                        @Html.DisplayFor(modelItem => item.Product.Discount)
                }
                else
                {
                    <p>No discount Currently</p>
                }
                         
            </td>
            <td>
                @if (item.Product.Quantity != 0)
                {
                                
                <form asp-page-handler="AddToShoppingCart" asp-route-id="@item.Product.Id" method="post">
                        <input type="hidden" value="1" id="ItemQuantity" name="ItemQuantity">
                        <input type="hidden" value="@item.Id" id="cateid" name="cateid">
                    <button type="submit"><i class="fa fa-shopping-cart"></i></button>
                </form>
                }
               <form asp-page-handler="WishListDelete" asp-route-id="@item.Product.Id" method="post">
                    <input type="hidden" value="@item.Id" id="cateid" name="cateid">
                    <button type="submit" >Remove</button>
               </form>
         
            </td>
        </tr>
}
    </tbody>
</table>
    }
  

</div>

