@page
@model InfocommSolutionsProject.Pages.Product.IndexModel
@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Index";
  
   
}
<h1>View Product</h1>
@if (User.IsInRole(InfocommSolutionsProject.Models.Roles.Admin))
{
    <p>
    <a asp-page="Create">Create New</a>
</p>
}
<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by Name,Category and Description:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-page="./Index">Back to full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.ProdNameSort">@Html.DisplayNameFor(model => model.Product[0].Name)</a>

            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.PriceSort">@Html.DisplayNameFor(model => model.Product[0].Price)</a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.CategorySort">@Html.DisplayNameFor(model => model.Product[0].Category)</a>
                
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.QuantitySort">@Html.DisplayNameFor(model => model.Product[0].Quantity)</a>
               
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].DiscountStatus)
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.DiscountNumSort">@Html.DisplayNameFor(model => model.Product[0].Discount)</a>
            </th>
            <th>
               Image
            </th>
             <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.DateUpdatedSort">@Html.DisplayNameFor(model => model.Product[0].UpdatedOn)</a>
                
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Product) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @{
                    if (item.DiscountStatus)
                    {
                            <button type="button" class="btn btn-success"><i class="fa-solid fa-check"></i></button>
                    }
                    else
                    {
                            <button type="button" class="btn btn-danger"><i class="fa-solid fa-circle-xmark"></i></button>
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discount)
            </td>
            <td>
                @{ var ProductImagePath = "~/Images/ProductImages/" + (item.ImagePath ?? "noimage.jpg");}
                <img src="@ProductImagePath" asp-append-version="true" class="ProductImageIndexDisplay"
                width="150" 
                height="150"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedOn)
            </td>
          @if (User.IsInRole(InfocommSolutionsProject.Models.Roles.Admin))
                {
            <td>
              
                <a asp-page="./Edit" asp-route-id="@item.Id"><button type="button" class="btn btn-warning" data-toggle="tooltip" data-placement="top" title="Edit Item"><i class="fa-solid fa-pen-clip"></i></button></a> |
                <a asp-page="./Details" asp-route-id="@item.Id"><button type="button" class="btn btn-info" data-toggle="tooltip" data-placement="top" title="Information about Product"><i class="fa-solid fa-circle-info"></i></button></a> |
                <a asp-page="./Delete" asp-route-id="@item.Id"><button type="button" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Delete Product"><i class="fa-solid fa-trash"></i></button></a>
                
                @*<a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>*@
            </td>
                }
                 @if (User.IsInRole(InfocommSolutionsProject.Models.Roles.Customer))
                {
            <td>
              
               
                <a asp-page="./Details" asp-route-id="@item.Id"><button type="button" class="btn btn-info" data-toggle="tooltip" data-placement="top" title="Information about Product"><i class="fa-solid fa-circle-info"></i></button></a> 
              
                
                @*<a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>*@
            </td>
                }

        </tr>
}
    </tbody>
</table>
@{
    var prevDisabled = !Model.Product.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Product.HasNextPage ? "disabled" : "";

}

<form method="get" >
            <div class="col-3 pr-0">
               <label >Items per page</label> 
               <select onchange="location=this.value">
            @{

              
                if (Convert.ToInt32(@HttpContext.Session.GetString("_userset")) == 5)
                {
                        <option value="http://localhost:5141/Product?NumPage=five">5</option >
                        <option value="http://localhost:5141/Product?NumPage=ten">10</option>
                        <option value="http://localhost:5141/Product?NumPage=fifty">50</option>
                        <option value="http://localhost:5141/Product?NumPage=hundred">100</option>
                }
                else if (Convert.ToInt32(@HttpContext.Session.GetString("_userset")) == 10)
                {
                        <option >10</option>
                        <option value="http://localhost:5141/Product?NumPage=five">5</option >
                        <option value="http://localhost:5141/Product?NumPage=fifty">50</option>
                        <option value="http://localhost:5141/Product?NumPage=hundred">100</option>
                }
                else if (Convert.ToInt32(@HttpContext.Session.GetString("_userset")) == 50)
                {
                        <option value="http://localhost:5141/Product?NumPage=fifty">50</option>
                        <option value="http://localhost:5141/Product?NumPage=five">5</option >
                        <option value="http://localhost:5141/Product?NumPage=ten">10</option>
                        <option value="http://localhost:5141/Product?NumPage=hundred">100</option>
                }
                else if (Convert.ToInt32(@HttpContext.Session.GetString("_userset")) == 100)
                {
                        <option value="http://localhost:5141/Product?NumPage=hundred">100</option>
                        <option value="http://localhost:5141/Product?NumPage=five">5</option >
                        <option value="http://localhost:5141/Product?NumPage1=ten">10</option>
                        <option value="http://localhost:5141/Product?NumPage=fifty">50</option>
                }
                else
                {
                    //@HttpContext.Session.GetString("_Name")
                        <option >Default : 10</option>
                        <option value="http://localhost:5141/Product?NumPage=five">5</option >
                        <option value="http://localhost:5141/Product?NumPage=ten">10</option>
                        <option value="http://localhost:5141/Product?NumPage=fifty">50</option>
                        <option value="http://localhost:5141/Product?NumPage=hundred">100</option>
                }
            }
               </select>
            </div> 
</form>



<div class="pb-3">
  <div class="pb-3">
      <div class="pb-3">
              <a asp-page="./Index" asp-route-pageIndex="@(Model.Product.PageIndex - 1)" asp-route-currentFilter="@(Model.CurrentFilter)" class="btn btn-primary @prevDisabled">
Previous    
</a>
<a asp-page="./Index" asp-route-pageIndex="@(Model.Product.PageIndex + 1)" asp-route-currentFilter="@(Model.CurrentFilter)" class="btn btn-primary @nextDisabled">
Next    
</a>
      </div>
  </div>
</div>

